//  ==========================
//  Eremin Alexey
//  Email: eremeow138@yandex.ru
//  ==========================
// Файл с переменными
@import "variables/variables";
// Подключение примесей
@import "mixins/mixin";
// Пример подключение шрифта через google fonts
// @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,900);
// Пример подключение шрифта через mixin
// 4 параметра: 1. Название шрифта; 2. Путь к шрифту; 3. Толщина шрифта(font-weight); 4. Стиль шрифта(font-style)
// @include font-face("Pusia", "../fonts/Pusia-Bold", 400, normal); // Раскомментировать при использовании
@include font-face("Roboto", "../fonts/Roboto/Roboto-Bold", bold, normal);
@include font-face("Roboto", "../fonts/Roboto/Roboto-Black", 900, normal);
@include font-face("Roboto", "../fonts/Roboto/Roboto-Light", 300, normal);
@include font-face("Roboto", "../fonts/Roboto/Roboto-Thin", 100, normal);
@include font-face("Roboto", "../fonts/Roboto/Roboto-Medium", 500, normal);
@include font-face("Roboto", "../fonts/Roboto/Roboto-Regular", normal, normal);

@include font-face(
  "Open Sans",
  "../fonts/Open_Sans/OpenSans-Light",
  300,
  normal
);
@include font-face(
  "Open Sans",
  "../fonts/Open_Sans/OpenSans-Bold",
  bold,
  normal
);
@include font-face(
  "Open Sans",
  "../fonts/Open_Sans/OpenSans-ExtraBold",
  800,
  normal
);
@include font-face(
  "Open Sans",
  "../fonts/Open_Sans/OpenSans-Regular",
  normal,
  normal
);
@include font-face(
  "Open Sans",
  "../fonts/Open_Sans/OpenSans-SemiBold",
  600,
  normal
);

// Подключение отдельных фалов стилей в общий css

// Файл со стилями сброса. Используется подправленный normalize.css
@import "core/reset";
// Файл с основными стилями каркаса страницы
@import "core/template";
// Стили для шапки
@import "core/header";
// Стили для навигации
@import "core/navbar";
// Стили для подвала
@import "core/footer";

:root {
  --slidesPerScreen: 3;
}

.button {
  background-color: #cd6326;
  border-color: #cd6326;
  border-style: solid;
  border-width: 0;
  border-radius: 5px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 23px;
  padding: 16px 44px;
  color: #f7f7f7;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    background-color: #e39128;
  }
  &_border-wigth-bold {
    border-width: 2px;
  }
  &_border-wigth-thin {
    border-width: 1px;
  }
  &_small {
    padding: 10px 23px;
  }
  &_small:hover {
    background-color: #cd6326;
  }
  &_medium {
    padding: 17px 34px;
  }
  &_tranparent {
    background-color: transparent;
  }
  &_bd-radius-right {
    border-radius: 0px 5px 5px 0px;
  }
  &:active {
    background-color: #8f5613;
    border-color: #8f5613;
  }
}
.section {
  padding: 15px 0;
}
.survival {
  padding-top: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 779px;
  &__content {
    margin-top: 108px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__item {
    max-width: 274px;
  }

  &__title {
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #cd6326;
  }

  &__description {
    margin-top: 59px;
    margin-bottom: 64px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
  }
}

.articles {
  background-color: #cccccc;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-top: 113px;
    margin-bottom: 10px;
    font-size: 48px;
    color: #333333;
    font-weight: normal;
  }

  &__subtitle {
    font-size: 24px;
    color: #666666;
    font-weight: normal;
  }
}

.slider {
  &__wrapper {
    margin-top: 105px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    margin-left: 3px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    z-index: 1;
    position: relative;
    svg {
      cursor: pointer;
      vertical-align: middle;
    }
    svg:hover #arrow {
      fill: #cd6326;
    }
    svg:active #arrow {
      fill: #8f5613;
    }

    &_right {
      transform: rotate(180deg);
    }
  }

  &__slides {
    display: flex;
    justify-content: space-between;
    width: 90%;
    overflow: hidden;
    position: relative;
    height: 360px;
  }

  &__slide {
    height: 100%;
    width: calc(100% / var(--slidesPerScreen));
    position: absolute;
    padding: 0 30px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    &:hover::before {
      opacity: 1;
    }
    &:active::before {
      background-color: rgba(36, 43, 51, 0.7);
      transition-duration: 100ms;
    }
    &::before {
      content: "READ";
      font-size: 32px;
      display: block;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      background-color: rgba(36, 43, 51, 0.5);
      transition-duration: 400ms;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 22px;
  }
  &__subtitle {
    margin-bottom: 43px;
    font-size: 17px;
  }
}
.notification {
  background-color: #cccccc;
  &__content {
    margin: 187px auto 224px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 660px;
  }

  &__title {
    font-size: 27px;
    color: #333;
    font-weight: 400;
  }

  &__form {
    margin-top: 36px;
    display: flex;

    width: 100%;
    @include formField {
      width: 100%;

      background-color: transparent;
      padding: 4px 0 0 15px;
      border: 1px solid #666666;
      border-right: none;
      outline: none;
      font-size: 23px;
      transition: all 0.3s;
      text-align: left;
      color: #666;
      @include placeholder {
        font-family: "Roboto";
        font-size: 23px;
        color: #666;
      }

      &:hover {
        background-color: #fff;
      }

      &:focus {
        background-color: #fff;
        @include placeholder {
          color: transparent;
        }
      }
    }
  }
}
