/* Набросок стилей для подвала
 ----------------------------------------------------------------------------- */
.footer {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__content {
    padding: 150px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__navigation {
    display: flex;
    padding: 0;
    margin: 0;
    // margin-left: 10px;
    list-style: none;
    width: 480px;
    justify-content: space-between;
  }
  &__item {
    // margin: 0 43px;
    // &:first-child {
    //   margin-left: 0px;
    // }
    // &:last-child {
    //   margin-right: 0;

    // }
  }
  &__link {
    font-size: 23px;
    transition: all 0.3s;
    &:hover {
      color: #cd6326;
    }
    &:active {
      color: #8f5613;
    }
  }

  &__social {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__icon {
    margin-left: 27px;
    transition: all 0.3s;
    &:first-child {
      margin-left: 0;
    }
    // &:last-child{
    //   margin-left: 35px;
    // }
    &:hover #icon-inside {
      fill: #f7f7f7;
    }
    &:hover #icon-out {
      fill: #cd6326;
    }
    #icon-inside {
      transition: all 0.3s;
      fill: #134731;
    }
    #icon-out {
      transition: all 0.3s;
      fill: #f7f7f7;
    }
  }
}
