/* Набросок стилей для шапки
 ----------------------------------------------------------------------------- */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  background-color: transparent;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }

  
}
.logotype {
  width: 239px;
  &__link {
    display: flex;
    align-items: center;
  }

  &__text {
    margin-left: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 32px;
  }
}
.navbar {
  &__item {
  }

  &__link {
    text-decoration: none;
  }

  &__search {
  }
}
