/* Набросок стилей для навигации
-------------------------------------------------------------------------------*/

.navbar {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 23px;
  transition-property: transform;
  transition-duration: 0.5s;
  justify-content: center;
  flex-direction: column-reverse;
  position: fixed;
  left: -250px;
  top: 0;
  width: 250px;
  height: 100vh;
  background-color: black;
  z-index: 2;
  @media (min-width: 767px) {
    flex-direction: row;

    position: initial;
    width: initial;
    height: initial;
    background-color: transparent;
  }

  &__item {
    display: block;
    margin: 20px 0;
    transition: all 0.3s;
    cursor: pointer;
    &:last-child {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    @media (min-width: 767px) {
      display: inline-block;
      margin: 0 32px;
      &:last-child {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 30px;
        margin-right: 0;
      }
    }
    &:hover {
      color: #cd6326;
    }
    &:active {
      color: #8f5613;
    }
    svg #search {
      vertical-align: middle;
      fill: white;
      transition: all 0.3s;
    }
    svg:hover #search {
      fill: #cd6326;
      transition: all 0.3s;
    }
    svg:active #search {
      fill: #8f5613;
      transition: all 0.3s;
    }
  }
  &__link {
    text-decoration: none;
  }
}
