/* Набросок стилей для навигации
-------------------------------------------------------------------------------*/
.navbar {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 23px;
  &__item {
    display: inline-block;
    margin: 0 32px;
    transition: all 0.3s;
    &:last-child {
      margin-left: 30px;
      margin-right: 0;
    }
    &:hover {
      color: #cd6326;
    }
    &:active {
      color: #8f5613;
    }
    svg {
      cursor: pointer;
      vertical-align: middle;
    }
    svg:hover #search {
      fill: #cd6326;
    }
    svg:active #search {
      fill: #8f5613;
    }
  }
  &__link {
  }
}
