header.header
    .header__content
        .header__left
            a.header__logo(href="/")
                img(src="img/logo.png", alt="alt")
        nav.header__right
            ul.navbar
                li.navbar__item
                    a.navbar__link(href=baseDir+"#") Главная
                li.navbar__item
                    a.navbar__link(href=baseDir+"#") О нас
                li.navbar__item
                    a.navbar__link(href=baseDir+"#") Контакты
                li.navbar__item
                    a.navbar__link(href=baseDir+"#") Отзывы
